@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem; }
  @media (max-width: 991px) {
    html {
      font-size: 55%; } }
  @media (max-width: 767px) {
    html {
      font-size: 47%; } }

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  background-color: #FEFEC5;
  color: #000000;
  overflow-x: hidden;
  line-height: 1.5; }

section,
header,
footer {
  max-width: 192rem;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl,
dt,
dd,
table,
tr,
td,
figure,
figcaption,
label {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

a {
  color: inherit;
  display: inline-block;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:focus, a:active {
    outline: none !important; }

button {
  cursor: pointer; }
  button:focus, button:active, button:hover, button:visited, button:link {
    outline: none;
    border: none;
    border-radius: 0px; }

input {
  cursor: pointer; }

.btn {
  padding: 0.6rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  background-color: #4399C9;
  border-radius: 0.5rem;
  outline: none;
  border: none; }
  .btn:hover {
    outline: none;
    border-radius: 0.5rem; }
  .btn:active {
    outline: none; }

.section-header {
  padding-top: 1rem;
  padding-right: 2rem;
  background-color: #FEFEC5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }

.navbar {
  padding: 0 7.5rem 0 0.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap; }
  @media (max-width: 991px) {
    .navbar {
      align-items: center; } }

.navbar__logo {
  flex-grow: 5; }
  .navbar__logo .logo-link {
    display: flex; }

.navbar__text {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap; }
  @media (max-width: 991px) {
    .navbar__text {
      position: absolute;
      top: 110%;
      right: 2rem;
      padding: 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 0.3rem; } }

.navbar__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 1.2rem; }
  @media (max-width: 991px) {
    .navbar__list {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .navbar__list .nav-link {
    padding: 1.2rem 3.4rem;
    font-weight: 700; }

.navbar__login {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  gap: 1rem;
  text-transform: uppercase; }
  .navbar__login .nav-link {
    padding: 0.3rem; }

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer; }
  @media (min-width: 992px) {
    .menu-icon {
      display: none; } }

.section-header.view .navbar {
  padding-right: 0rem; }
.section-header.view .navbar__text {
  justify-content: flex-end; }
.section-header.view .login,
.section-header.view .register {
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400; }

.section-header.register .login,
.section-header.register .register {
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 800; }
.section-header.register .navbar__logo {
  height: 10.1rem; }

.section-header.content .navbar__logo {
  flex-grow: 0; }
.section-header.content .navbar {
  padding: 0 0.6rem;
  justify-content: space-between; }
.section-header.content .navbar__list {
  justify-content: center;
  flex-grow: 1; }
.section-header.content .nav-link {
  padding: 1.2rem 1.4rem; }
.section-header.content .navbar__login {
  font-size: 1.5rem;
  text-transform: none; }
.section-header.content .login-name {
  font-weight: 700; }
.section-header.content .login-user {
  color: #A3CB38;
  position: relative; }
  .section-header.content .login-user::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #A3CB38;
    border-radius: 50%;
    transform: translate(-115%, -50%); }

.section__hero-image {
  margin-top: 11.3rem;
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 10.6rem; }

.section-footer {
  padding: 3.5rem 9.5rem 1.8rem 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3); }

.footer__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 6rem; }
  @media (max-width: 1200px) {
    .footer__wraper {
      gap: 3rem; } }

.footer__link {
  padding-top: 1rem;
  flex-flow: 1; }
  @media (max-width: 991px) {
    .footer__link {
      width: 100%;
      text-align: center; } }
  .footer__link .link {
    color: rgba(6, 19, 135, 0.76);
    font-weight: 700; }
  .footer__link li + li {
    margin-top: 2rem; }

.footer__text {
  flex-grow: 2; }
  @media (max-width: 991px) {
    .footer__text {
      width: 100%;
      text-align: center; } }
  .footer__text .text-title {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 3.5rem; }
  .footer__text .text-content {
    line-height: 1.5; }

.footer__contact {
  flex-grow: 2;
  padding-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: nowrap; }
  @media (max-width: 991px) {
    .footer__contact {
      width: 100%;
      justify-content: center;
      gap: 4rem; } }
  .footer__contact .contact-icon {
    width: 6.1rem;
    height: 5rem; }
  .footer__contact .contact-btn {
    color: #000000;
    padding: 0.3rem 1.5rem;
    background-color: #C0DDF9;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5px; }

.section-content {
  padding: 0.6rem 9.5rem 2.3rem 1.2rem; }

.content__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 2rem; }
  .content__wraper .content__main {
    flex-grow: 6;
    padding-top: 1.5rem; }

.content__sidebar {
  flex-grow: 1; }
  .content__sidebar .sidebar__form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1.6rem; }
    .content__sidebar .sidebar__form .input-search {
      width: 100%;
      height: 3.6rem;
      border-radius: 5px;
      border-width: 1px;
      outline: none; }
  .content__sidebar .menu__list {
    padding-right: 1.5rem;
    padding-top: 1.8rem;
    font-size: 1.6rem;
    font-weight: 700; }
  .content__sidebar .menu__item + .menu__item {
    margin-top: 0.5rem; }
  .content__sidebar .menu__item-link {
    display: block;
    padding: 1.6rem;
    background-color: #C0DDF9;
    border-radius: 0px 12px 12px 0px; }
  .content__sidebar .menu__item-link.active {
    background-color: #F8D9CC; }
  .content__sidebar .navbar-collapse {
    padding-left: 3.9rem; }
    .content__sidebar .navbar-collapse .link {
      padding: 0.8rem; }

.story__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 0;
  padding-bottom: 1.7rem;
  height: 100%; }
  .story__wraper .story {
    max-width: 35%;
    flex-grow: 1; }
  .story__wraper h3 {
    font-size: 1.4rem;
    padding-top: 1.3rem; }
  .story__wraper h4 {
    font-size: 1.2rem;
    padding: 1.3rem 0; }
  .story__wraper .story__desc.size-lg {
    font-size: 1.2rem;
    padding-bottom: 2.2rem; }
  .story__wraper .story__desc.size-xs {
    margin-left: -0.5rem;
    font-size: 0.8rem;
    padding-bottom: 2.2rem; }
  .story__wraper .story__time {
    margin-left: 30%;
    margin-top: 2.2rem;
    color: rgba(0, 0, 0, 0.37);
    font-size: 0.8rem; }
    @media (max-width: 767px) {
      .story__wraper .story__time {
        display: block;
        text-align: center;
        margin: 0; } }
  .story__wraper .story__image {
    position: relative; }
  .story__wraper .story__image::before {
    content: "";
    display: block;
    padding-top: 65.5%; }
  .story__wraper .story__image.right::before {
    padding-top: 64.3%; }
  .story__wraper .story__image > .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; }
  .story__wraper .story-right .story__text {
    padding-left: 3rem; }

.content__intro {
  height: 100%;
  padding-left: 2.5rem; }
  .content__intro .intro__wraper {
    padding-top: 0.375rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    gap: 2rem 0; }
    @media (max-width: 991px) {
      .content__intro .intro__wraper {
        grid-template-columns: repeat(2, 1fr); } }
  .content__intro .intro {
    padding: 0 1rem; }
  .content__intro .intro__title {
    padding-left: 2rem;
    padding-bottom: 3.5rem;
    white-space: nowrap; }
    @media (max-width: 1200px) {
      .content__intro .intro__title {
        padding-bottom: 1.5rem; } }
    @media (max-width: 991px) {
      .content__intro .intro__title {
        padding-bottom: 1rem; } }
  .content__intro .intro__desc {
    font-family: 'Roboto', sans-serif !important;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    padding-left: 2rem;
    font-weight: 700 !important; }
  .content__intro .intro__image {
    text-align: center;
    position: relative; }
  .content__intro .intro__image::before {
    content: "";
    display: block;
    padding-top: 55.6%; }
  .content__intro .intro__image .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding-right: 2rem;
    padding-left: 4rem; }
  .content__intro .intro + .intro .image {
    border-left: 1px solid rgba(0, 0, 0, 0.3); }
    @media (max-width: 991px) {
      .content__intro .intro + .intro .image {
        border: none; } }

/*# sourceMappingURL=style_01.css.map */
