.section-register {
    padding: 2rem 2rem 5rem;
}

.register__wraper {
    width: 65%;
    margin: 0 auto;
    label {
        width: 20%;
        display: inline-block;
    }
    input {
        width: 79%;
        padding: 1rem;
        padding-left: 2rem;
        border-radius: 0.5rem;
        border-width: 1px;
        outline: none;
    }
    .form__control {
        padding: 2rem 0;
    }
    .register__or {
        text-align: center;
        font-size: 2.8rem;
        text-transform: uppercase;
        position: relative;
        &::before, 
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 45%;
            height: 1px;
            background-color: $color-text;
            transform: translate(0, -50%);
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }
    .register__continue {
        margin-top: 5rem;
        font-size: 3.5rem;
        @include flex(center, center);
        gap: 0 3rem;
        @include for-size(991) {
            font-size: 2.5rem;
            gap: 0 2rem;
        }
        .continue__link-icon {
            font-size: 5rem;
            @include for-size(991) {
                font-size: 3rem;
            }
        }
        .continue__link-text {
            text-transform: uppercase;
            margin-left: 3rem;
        }
    }
}