@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 47%;
  }
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  background-color: #FEFEC5;
  color: #000000;
  overflow-x: hidden;
  line-height: 1.5;
}

section,
header,
footer {
  max-width: 192rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl,
dt,
dd,
table,
tr,
td,
figure,
figcaption,
label {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a:focus, a:active {
  outline: none !important;
}

button {
  cursor: pointer;
}
button:focus, button:active, button:hover, button:visited, button:link {
  outline: none;
  border: none;
}

input {
  outline: none;
  cursor: pointer;
}

.btn {
  padding: 0.6rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  background-color: #4399C9;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}
.btn:hover {
  outline: none;
  border-radius: 0.5rem;
}
.btn:active {
  outline: none;
}
@media (max-width: 991px) {
  .btn {
    padding: 0.5rem 2rem;
  }
}

.btn-red {
  width: 15.1rem;
  height: 3.9rem;
  text-align: center;
  line-height: 3.9rem;
  border-radius: 5px;
  background-color: #F25A5A;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
}

.menu__item-link {
  display: block;
  padding: 1.6rem;
  background-color: #C0DDF9;
  border-radius: 0px 12px 12px 0px;
  font-weight: 700;
}
.menu__item-link.active {
  background-color: #F8D9CC;
}

.input__border-none {
  border: none;
  border-bottom: 1px solid #000000;
  font-size: inherit;
}

.section-header {
  padding-top: 1rem;
  padding-right: 2rem;
  background-color: #FEFEC5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  padding: 0 7.5rem 0 0.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .navbar {
    align-items: center;
  }
}

.navbar__logo {
  flex-grow: 5;
}
.navbar__logo .logo-link {
  display: flex;
}

.navbar__text {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .navbar__text {
    position: absolute;
    top: 110%;
    right: 2rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.3rem;
  }
}

.navbar__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 1.2rem;
}
@media (max-width: 991px) {
  .navbar__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.navbar__list .nav-link {
  padding: 1.2rem 3.4rem;
  font-weight: 700;
}

.navbar__login {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  gap: 1rem;
  text-transform: uppercase;
}
.navbar__login .nav-link {
  padding: 0.3rem;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}
@media (min-width: 992px) {
  .menu-icon {
    display: none;
  }
}

.section-header.view .navbar {
  padding-right: 0rem;
}
.section-header.view .navbar__text {
  justify-content: flex-end;
}
.section-header.view .login,
.section-header.view .register {
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400;
}

.section-header.register .login,
.section-header.register .register {
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 800;
}
.section-header.register .navbar__logo {
  height: 10.1rem;
}

.section-header.content .navbar__logo {
  flex-grow: 0;
}
.section-header.content .navbar {
  padding: 0 0.6rem;
  justify-content: space-between;
}
.section-header.content .navbar__list {
  justify-content: center;
  flex-grow: 1;
}
.section-header.content .nav-link {
  padding: 1.2rem 1.4rem;
}
.section-header.content .navbar__login {
  font-size: 1.5rem;
  text-transform: none;
}
.section-header.content .login-name {
  font-weight: 700;
}
.section-header.content .login-user {
  color: #A3CB38;
  position: relative;
}
.section-header.content .login-user::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #A3CB38;
  border-radius: 50%;
  transform: translate(-115%, -50%);
}

.section__hero-image {
  margin-top: 11.3rem;
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 10.6rem;
}

.section-footer {
  padding: 3.5rem 9.5rem 1.8rem 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 6rem;
}
@media (max-width: 1200px) {
  .footer__wraper {
    gap: 3rem;
  }
}

.footer__link {
  padding-top: 1rem;
  flex-flow: 1;
}
@media (max-width: 991px) {
  .footer__link {
    width: 100%;
    text-align: center;
  }
}
.footer__link .link {
  color: rgba(6, 19, 135, 0.76);
  font-weight: 700;
}
.footer__link li + li {
  margin-top: 2rem;
}

.footer__text {
  flex-grow: 2;
}
@media (max-width: 991px) {
  .footer__text {
    width: 100%;
    text-align: center;
  }
}
.footer__text .text-title {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 3.5rem;
}
.footer__text .text-content {
  line-height: 1.5;
}

.footer__contact {
  flex-grow: 2;
  padding-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .footer__contact {
    width: 100%;
    justify-content: center;
    gap: 4rem;
  }
}
.footer__contact .contact-icon {
  width: 6.1rem;
  height: 5rem;
}
.footer__contact .contact-btn {
  color: #000000;
  padding: 0.3rem 1.5rem;
  background-color: #C0DDF9;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;
}

.section-content {
  padding: 0.6rem 9.5rem 2.3rem 1.2rem;
}

.content__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 2rem;
}
.content__wraper .content__main {
  flex-grow: 6;
  padding-top: 1.5rem;
}

.content__sidebar {
  flex-grow: 1;
}
.content__sidebar .sidebar__form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1.6rem;
}
.content__sidebar .sidebar__form .input-search {
  width: 100%;
  height: 3.6rem;
  border-radius: 5px;
  border-width: 1px;
  outline: none;
  padding: 1rem;
}
.content__sidebar .menu__list {
  padding-right: 1.5rem;
  padding-top: 1.8rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.content__sidebar .menu__item + .menu__item {
  margin-top: 0.5rem;
}
.content__sidebar .navbar-collapse {
  padding-left: 3.9rem;
}
.content__sidebar .navbar-collapse .link {
  padding: 0.8rem;
}

.story__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 0;
  padding-bottom: 1.7rem;
  height: 100%;
}
.story__wraper .story {
  max-width: 35%;
  flex-grow: 1;
}
.story__wraper h3 {
  font-size: 1.4rem;
  padding-top: 1.3rem;
}
.story__wraper h4 {
  font-size: 1.2rem;
  padding: 1.3rem 0;
}
.story__wraper .story__desc.size-lg {
  font-size: 1.2rem;
  padding-bottom: 2.2rem;
}
.story__wraper .story__desc.size-xs {
  margin-left: -0.5rem;
  font-size: 0.8rem;
  padding-bottom: 2.2rem;
}
.story__wraper .story__time {
  margin-left: 30%;
  margin-top: 2.2rem;
  color: rgba(0, 0, 0, 0.37);
  font-size: 0.8rem;
}
@media (max-width: 767px) {
  .story__wraper .story__time {
    display: block;
    text-align: center;
    margin: 0;
  }
}
.story__wraper .story__image {
  position: relative;
}
.story__wraper .story__image::before {
  content: "";
  display: block;
  padding-top: 65.5%;
}
.story__wraper .story__image.right::before {
  padding-top: 64.3%;
}
.story__wraper .story__image > .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.story__wraper .story-right .story__text {
  padding-left: 3rem;
}

.content__intro {
  height: 100%;
  padding-left: 2.5rem;
}
.content__intro .intro__wraper {
  padding-top: 0.375rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  gap: 2rem 0;
}
@media (max-width: 991px) {
  .content__intro .intro__wraper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.content__intro .intro {
  padding: 0 1rem;
}
.content__intro .intro__title {
  padding-left: 2rem;
  padding-bottom: 3.5rem;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .content__intro .intro__title {
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 991px) {
  .content__intro .intro__title {
    padding-bottom: 1rem;
  }
}
.content__intro .intro__desc {
  font-family: "Roboto", sans-serif !important;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding-left: 2rem;
  font-weight: 700 !important;
}
.content__intro .intro__image {
  text-align: center;
  position: relative;
}
.content__intro .intro__image::before {
  content: "";
  display: block;
  padding-top: 55.6%;
}
.content__intro .intro__image .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  padding-right: 2rem;
  padding-left: 4rem;
}
.content__intro .intro + .intro .image {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
@media (max-width: 991px) {
  .content__intro .intro + .intro .image {
    border: none;
  }
}

.view__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 2.5rem;
  padding: 4.5rem;
}

.view__book {
  width: 30%;
}

.book__image {
  position: relative;
}
.book__image::before {
  content: "";
  display: block;
  padding-top: 71.1%;
}
.book__image .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.book__desc {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 0.5rem;
}

.book__rating {
  padding-top: 1.5rem;
}
.book__rating .book__rating-box {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.book__rating .rating__desc {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.book__rating .rating__desc .rating-icon {
  margin-right: 0.5rem;
  background-color: white;
  color: yellow;
}
.book__rating .comments__wraper .comment-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-weight: 700;
}
.book__rating .comment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 1rem 0;
  gap: 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.book__rating .comment .avatar-img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}
.book__rating .comment .commment__author-name {
  font-size: 0.8rem;
  font-weight: 700;
}
.book__rating .comment .comment__time {
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.book__rating .comment .comment__content {
  font-size: 0.7rem;
  padding: 0.5rem 0;
  text-align: justify;
}
.book__rating .comment .comment__loadmore {
  font-size: 0.6rem;
  font-weight: 700;
}
.book__rating .comment .comment__recommended {
  margin-right: 1rem;
}

.view__content {
  width: 70%;
}
.view__content .view__title {
  font-size: 2rem;
}
.view__content .view__time span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.37);
}
.view__content .view__time span + span {
  margin-left: 35rem;
}
.view__content .view__content-desc {
  margin-top: 2rem;
}
.view__content .view__content-desc strong {
  font-size: 1.6rem;
}
.view__content .view__content-desc p {
  padding: 1rem 0;
}

.buy__book {
  text-align: center;
  padding-top: 5rem;
}
.buy__book-link {
  padding: 0.45rem 2.85rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #4399C9;
  text-transform: uppercase;
}

.section-view.view-two .view__book {
  flex-grow: 1;
}
.section-view.view-two .comment + .comment {
  padding-left: 2rem;
}
.section-view.view-two .view__more {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 700;
}
.section-view.view-two .view__more .view__more-link {
  text-decoration: underline;
}

.commtent__control .comment__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 2rem;
}
.commtent__control .comment__form .control__input-name,
.commtent__control .comment__form .control__input-comment {
  display: inline-flex;
  align-items: center;
}
.commtent__control .comment__form .label-name {
  font-size: 0.8rem;
  font-weight: 700;
}
.commtent__control .comment__form .label-comment {
  font-size: 0.5rem;
}
.commtent__control .comment__form #input-name {
  font-size: 0.8rem;
  height: 1rem;
}
.commtent__control .comment__form #input-comment {
  font-size: 0.5rem;
  height: 0.5rem;
}
.commtent__control .comment__form input {
  outline: none;
  border-width: 0;
  background-color: transparent;
  border-bottom-width: 1px;
}
.commtent__control .control__buy {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.commtent__control .control__buy select {
  appearance: none;
  cursor: pointer;
}

.products__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 2rem;
}

.products__sidebar-left {
  width: 20%;
}
.products__sidebar-left .sidebar__form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 1.6rem;
}
.products__sidebar-left .sidebar__form .input-search {
  width: 100%;
  height: 3.6rem;
  border-radius: 5px;
  border-width: 1px;
  outline: none;
}
.products__sidebar-left .menu__list {
  padding-right: 1.5rem;
  padding-top: 1.8rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.products__sidebar-left .menu__item + .menu__item {
  margin-top: 0.5rem;
}
.products__sidebar-left .menu__item-link {
  display: block;
  padding: 1.6rem;
  background-color: #C0DDF9;
  border-radius: 0px 12px 12px 0px;
}
.products__sidebar-left .menu__item-link.active {
  background-color: #F8D9CC;
}
.products__sidebar-left .navbar-collapse {
  padding-left: 3.9rem;
}
.products__sidebar-left .navbar-collapse .link {
  padding: 0.8rem;
}

.products__main {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
}
.products__main .pro__image {
  position: relative;
}
.products__main .pro__image::before {
  content: "";
  display: block;
  padding-top: 90%;
}
.products__main .pro__image .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products__main .pro__text .text-title {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.products__main .pro__text .text-desc {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.products__main .pro__text .text-time {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.37);
}

.products__sidebar-right {
  width: 25%;
  padding: 2rem 0;
}
.products__sidebar-right .sidebar-right__wraper {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
  padding: 0 2rem 2rem;
}
.products__sidebar-right .sidebar-right__title {
  font-size: 1.6rem;
  margin-top: 0.5rem;
}
.products__sidebar-right .sidebar-right__desc {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.products__sidebar-right img {
  width: 100%;
}

.section-register {
  padding: 2rem 2rem 5rem;
}

.register__wraper {
  width: 65%;
  margin: 0 auto;
}
.register__wraper label {
  width: 20%;
  display: inline-block;
}
.register__wraper input {
  width: 79%;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
  border-width: 1px;
  outline: none;
}
.register__wraper .form__control {
  padding: 2rem 0;
}
.register__wraper .register__or {
  text-align: center;
  font-size: 2.8rem;
  text-transform: uppercase;
  position: relative;
}
.register__wraper .register__or::before, .register__wraper .register__or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: #000000;
  transform: translate(0, -50%);
}
.register__wraper .register__or::before {
  left: 0;
}
.register__wraper .register__or::after {
  right: 0;
}
.register__wraper .register__continue {
  margin-top: 5rem;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0 3rem;
}
@media (max-width: 991px) {
  .register__wraper .register__continue {
    font-size: 2.5rem;
    gap: 0 2rem;
  }
}
.register__wraper .register__continue .continue__link-icon {
  font-size: 5rem;
}
@media (max-width: 991px) {
  .register__wraper .register__continue .continue__link-icon {
    font-size: 3rem;
  }
}
.register__wraper .register__continue .continue__link-text {
  text-transform: uppercase;
  margin-left: 3rem;
}

.section-blog {
  padding: 2rem;
}

.blog__search {
  width: 50%;
  margin: 0 auto;
  font-size: 1.9rem;
  font-weight: 700;
  background-color: #C4C4C4;
  padding-bottom: 1rem;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.blog__wraper {
  padding: 4rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 4rem;
}
.blog__wraper .blog__menu {
  width: 20%;
}
.blog__wraper .blog__menu .menu-item + .menu-item {
  margin-top: 3rem;
}
.blog__wraper .blog__main {
  width: 80%;
}

.blog__main {
  padding: 7rem 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem 2rem;
}
.blog__main .blog-item {
  display: flex;
  gap: 2rem;
  border: 1px solid #000000;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 2px;
}
.blog__main .blog-item .content__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}
.blog__main .blog-item .control__text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 5rem;
}
.blog__main .blog-item .control__btn {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.blog__main .blog-item span {
  font-weight: 700;
  font-size: 1.9rem;
  color: #F25A5A;
}
.blog__main .content__text {
  font-size: 1.9rem;
  font-weight: 700;
}
.blog__main .content__text .text-title {
  padding-bottom: 1rem;
}
.blog__main .content__text .text-desc {
  padding-left: 2rem;
}
.blog__main .content__text .text-readmore {
  color: #4399C9;
}
.blog__main .blog__image {
  padding-top: 3rem;
}

/*# sourceMappingURL=style_01.css.map */
