@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 47%;
  }
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  background-color: #FEFEC5;
  color: #000000;
  overflow-x: hidden;
  line-height: 1.5;
}

section,
header,
footer {
  max-width: 192rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl,
dt,
dd,
table,
tr,
td,
figure,
figcaption,
label {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
a:focus, a:active {
  outline: none !important;
}

button {
  cursor: pointer;
}
button:focus, button:active, button:hover, button:visited, button:link {
  outline: none;
  border: none;
}

input {
  outline: none;
  cursor: pointer;
}

.btn {
  padding: 0.6rem 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  background-color: #4399C9;
  border-radius: 0.5rem;
  outline: none;
  border: none;
}
.btn:hover {
  outline: none;
  border-radius: 0.5rem;
}
.btn:active {
  outline: none;
}
@media (max-width: 991px) {
  .btn {
    padding: 0.5rem 2rem;
  }
}

.btn-red {
  width: 15.1rem;
  height: 3.9rem;
  text-align: center;
  line-height: 3.9rem;
  border-radius: 5px;
  background-color: #F25A5A;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
}

.menu__item-link {
  display: block;
  padding: 1.6rem;
  background-color: #C0DDF9;
  border-radius: 0px 12px 12px 0px;
  font-weight: 700;
}
.menu__item-link.active {
  background-color: #F8D9CC;
}

.input__border-none {
  border: none;
  border-bottom: 1px solid #000000;
  font-size: inherit;
}

.section-header {
  padding-top: 1rem;
  padding-right: 2rem;
  background-color: #FEFEC5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  padding: 0 7.5rem 0 0.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .navbar {
    align-items: center;
  }
}

.navbar__logo {
  flex-grow: 5;
}
.navbar__logo .logo-link {
  display: flex;
}

.navbar__text {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .navbar__text {
    position: absolute;
    top: 110%;
    right: 2rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 0.3rem;
  }
}

.navbar__list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-top: 1.2rem;
}
@media (max-width: 991px) {
  .navbar__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.navbar__list .nav-link {
  padding: 1.2rem 3.4rem;
  font-weight: 700;
}

.navbar__login {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  gap: 1rem;
  text-transform: uppercase;
}
.navbar__login .nav-link {
  padding: 0.3rem;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}
@media (min-width: 992px) {
  .menu-icon {
    display: none;
  }
}

.section-header.view .navbar {
  padding-right: 0rem;
}
.section-header.view .navbar__text {
  justify-content: flex-end;
}
.section-header.view .login,
.section-header.view .register {
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400;
}

.section-header.register .login,
.section-header.register .register {
  font-size: 1.8rem;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 800;
}
.section-header.register .navbar__logo {
  height: 10.1rem;
}

.section-header.content .navbar__logo {
  flex-grow: 0;
}
.section-header.content .navbar {
  padding: 0 0.6rem;
  justify-content: space-between;
}
.section-header.content .navbar__list {
  justify-content: center;
  flex-grow: 1;
}
.section-header.content .nav-link {
  padding: 1.2rem 1.4rem;
}
.section-header.content .navbar__login {
  font-size: 1.5rem;
  text-transform: none;
}
.section-header.content .login-name {
  font-weight: 700;
}
.section-header.content .login-user {
  color: #A3CB38;
  position: relative;
}
.section-header.content .login-user::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #A3CB38;
  border-radius: 50%;
  transform: translate(-115%, -50%);
}

.section__hero-image {
  margin-top: 11.3rem;
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 10.6rem;
}

.section-footer {
  padding: 3.5rem 9.5rem 1.8rem 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer__wraper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 6rem;
}
@media (max-width: 1200px) {
  .footer__wraper {
    gap: 3rem;
  }
}

.footer__link {
  padding-top: 1rem;
  flex-flow: 1;
}
@media (max-width: 991px) {
  .footer__link {
    width: 100%;
    text-align: center;
  }
}
.footer__link .link {
  color: rgba(6, 19, 135, 0.76);
  font-weight: 700;
}
.footer__link li + li {
  margin-top: 2rem;
}

.footer__text {
  flex-grow: 2;
}
@media (max-width: 991px) {
  .footer__text {
    width: 100%;
    text-align: center;
  }
}
.footer__text .text-title {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 3.5rem;
}
.footer__text .text-content {
  line-height: 1.5;
}

.footer__contact {
  flex-grow: 2;
  padding-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .footer__contact {
    width: 100%;
    justify-content: center;
    gap: 4rem;
  }
}
.footer__contact .contact-icon {
  width: 6.1rem;
  height: 5rem;
}
.footer__contact .contact-btn {
  color: #000000;
  padding: 0.3rem 1.5rem;
  background-color: #C0DDF9;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 5px;
}

.blogtwo__wraper {
  padding: 7.8rem 5rem 0 1rem;
  font-size: 1.9rem;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 3rem;
}
.blogtwo__wraper .blogtwo__menu {
  width: 20%;
}
.blogtwo__wraper .blogtwo__menu .menu-item + .menu-item {
  margin-top: 3rem;
}
.blogtwo__wraper .blogtwo__form {
  width: 80%;
}

.blogtwo__form {
  padding-top: 2rem;
}
.blogtwo__form .blogtwo__control {
  text-align: right;
}
.blogtwo__form .blogtwo__control button + button {
  margin-left: 3rem;
}
.blogtwo__form .blogtwo__box {
  margin-top: 3rem;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  padding: 1rem 1rem 5rem;
}
.blogtwo__form .blogtwo__box .box__title {
  padding-bottom: 2rem;
}
.blogtwo__form .blogtwo__box .input__border-none {
  width: 50%;
}
.blogtwo__form .blogtwo__box .box__content-main {
  padding: 0 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 2rem;
}
.blogtwo__form .blogtwo__box .box__image {
  text-align: center;
}
.blogtwo__form .blogtwo__box .image__block {
  margin-bottom: 2rem;
}
.blogtwo__form .blogtwo__box .content {
  border: 1px solid #000000;
  padding: 1rem;
  flex-grow: 1;
  height: 40rem;
}

/*# sourceMappingURL=style_08.css.map */
